<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<!--配置empDao-->
	<bean id="empDao" class="erp.dao.daoImp.EmpDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置depDao-->
	<bean id="depDao" class="erp.dao.daoImp.DepDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置roleDao-->
	<bean id="roleDao" class="erp.dao.daoImp.RoleDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置productTypeDao-->
	<bean id="productTypeDao" class="erp.dao.daoImp.ProductTypeDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置supplierDao-->
	<bean id="supplierDao" class="erp.dao.daoImp.SupplierDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置productDao-->
	<bean id="productDao" class="erp.dao.daoImp.ProductDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置orderModelDao-->
	<bean id="orderModelDao" class="erp.dao.daoImp.OrderModelDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置orderDetailDao-->
	<bean id="orderDetailDao" class="erp.dao.daoImp.OrderDetailDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置consoleLogDao-->
	<bean id="consoleLogDao" class="erp.dao.daoImp.ConsoleLogDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置storeDao-->
	<bean id="storeDao" class="erp.dao.daoImp.StoreDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!--配置menuDao-->
	<bean id="menuDao" class="erp.dao.daoImp.MenuDaoImp">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
